<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated presentation -->
      <package
            uri="http://www.example.org/presentation"
            class="presentation.PresentationPackage"
            genModel="model/presentation.genmodel"/>
   </extension>

</plugin>
